# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Marcin\OneDrive\OneDrive - Politechnika Lodzka\Semestr 5\PK (Projekt Kompetencyjny)\Trip-planner-Android-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
